
<div class="container-characters">
    <!-- DIRECTIVA NGFOR -->
    <!-- BEM -->
    <section class="container-characters__item" *ngFor="let character of favorites">
        <p class="container-characters__item__character-name">
            
            {{ character.nameCharacter.length<=12 ? character.nameCharacter : (character.nameCharacter | slice:0:12)+'...' }}
        
        </p>

        <img class="container-characters__item__img" [src]="character.caracterUrlImagen" alt="">

        <button class="container-characters__item__button" (click)="removeFavorite(character)">Remove favorite</button>
       
    </section>
</div>

